body {
  font-family: 'Times New Roman', Times, serif;
  border: 0
}

.page {
  outline: 1px solid blueviolet;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: lavenderblush;
}

.panel {
  background: pink;
  border: 2px solid deeppink;
  border-radius: 10px; /*Esto le da forma al border la forma de las esquinas del borde. */
}

.panel--default {
  padding: 50px;
}

.panel--borderbox {
  padding: 60px;
  box-sizing: border-box;
}

.panel--shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
}